<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<%- grid %>

<script>
  const button = document.querySelectorAll('button')
  button.forEach(button => {
      button.className = 'btn'
  })
</script>